<div class="container">


<div class="about-section">
 
  <p>Our address: PAW Street No. 10, 101010, Iasi, Romania</p>
  <p>Contact number: +40745101010</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column col-lg-6">
    <div class="card">
      <div class="container">
        <h2>Chelaru George</h2>
        <p class="title">CEO & Founder</p>

        <p>chelaru.george1998@yahoo.com</p>
      </div>
    </div>
  </div>

  <div class="column col-lg-6">
    <div class="card">
      <div class="container">
        <h2>Tiron Lucian</h2>
        <p class="title">Front-end</p>

        <p>luciantir98@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column col-lg-6">
    <div class="card">
      <div class="container">
        <h2>Chelariu Stefan</h2>
        <p class="title">Back-end</p>
        <p> stefan.chelariu@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column col-lg-6">
    <div class="card">
      <div class="container">
        <h2>Andrei Bejan</h2>
        <p class="title">Back-end + Front-end</p>
        <p> andrei.bejan@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column col-lg-6">
    <div class="card">
      <div class="container">
        <h2>Solomon Dragos</h2>
        <p class="title">Back-end + Front-end</p>
        <p> dragos.solomon@gmail.com</p>
      </div>
    </div>
  </div>
</div>
</div>
