.hidden {
	display: none
}
.visible {
	display: block
}
.center-text {
	text-align: center
}

form{
	margin-top: 50px;
}
button {
	
	margin:10px;
	background-color: transparent;
	color: black;
	border: 1px solid black;
	padding: 4px 16px;
	transition: 0.4s;
	width: 20%;

}
button:hover:enabled{
	color: white;
	background-color: black;
}


.container{
	margin-top:50px;
	border:0.5px solid black;
}