.container-profile{
  margin:5% ;
}


div.divInreg{
    font-family:Comic Sans MS;
    font-size:20px;
    padding: 40px;
    box-shadow: 2px 5px 10px 10px #454447;
    background-color:none;
    border-radius: 10px;
}
.formSign input#passconf,.formSign input#pass,.formSign input#util,.formSign input#email,.formSign input#nume,.formSign input#prenume{
  width: 100%;
  padding: 10px;
  margin: 3px;
  display: inline-block;
  border-radius: 10px;
  border:1px solid black;
  background: #f1f1f1;
}

.formSign label{
  margin-left:5%;
}
div.divInreg img{
  margin-left:42%;
  margin-right:45%;
}
div.divInreg input#autent{
    margin-top:20px;
  padding:10px;
  margin-left:40%;
  margin-right:40%;

}
#idmesajEroare{
  color:red;
  margin-left:35%;
}


div.order-sent{
  margin:5% 30% 5% 30%;
   padding:40px;
   
   border:2px solid black;
   background-image:linear-gradient(rgb(234, 236, 234),rgb(179, 182, 179),rgb(185, 185, 185)) ;
   border-radius:10px;
   text-align:center;
   font-family: cursive;
   font-size:18px;
 }
 div.order-sent p{
   font-size: 25px;

   
 }
 
.list-group-item{
  background-color: #659DBD;
  color:white;
  cursor:pointer;
}

.table{
  border: 1px solid black;
}