<div class="item-container">


    <ul *ngIf="checkIfCartIsEmpty()" class="list-group">
        <li class="list-group-item title-cart">
            <strong>Shopping cart</strong>
        </li>
        <li class="list-group-item item-show">
                Your cart is empty!
        </li>
          <li class="list-group-item total-li">
            <strong>Total:</strong> <span style="margin-left:40%;">{{ cartTotal }} RON</span>
        </li>
    </ul>


<ul *ngIf="!checkIfCartIsEmpty()" class="list-group">
    <li class="list-group-item total-li">
        <strong>Shopping cart</strong>
    </li>
    <li class="list-group-item item-show" *ngFor="let item of cartItems">
        <app-cart-item [cartItem]="item"></app-cart-item>
        <a (click)="addBeer(item)" class="add-beer" title="Add more to cart"><i class="fas fa-plus-circle icon"></i></a>
        <a (click)="deleteBeer(item)" class="delete-beer" title="Delete from cart"><i class="fas fa-minus-circle icon"></i></a>
    </li>

    <li class="list-group-item total-li">
        <strong>Total:</strong> <span style="margin-left:40%;">{{ cartTotal }} RON</span>
    </li>
    <li class="list-group-item send-btn">
        <a (click)="goToSendOrder()" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send order</a>
    </li>
</ul>
</div>